@import "./color_schemes/dark";

// hyunbenny 다크 스킴
$link-color: #60a5fa;
$btn-primary-color: #2563eb;
$body-background-color: #111827;
$sidebar-color: #111827;
$body-heading-color: #f9fafb;
$body-text-color: #d1d5db;
$nav-child-link-color: #9ca3af;
$border-color: #374151;
$search-background-color: #1f2937;
$table-background-color: #1f2937;
$feedback-color: #1f2937;
